body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
.section-style{
    float: left;
    width: auto;
    width: 45%;
}

img{
    width: 80px;
    width: auto;
    float: left;

}